.flags {
	background-image: url('all.png');
	display: block;
}

.flag-ad {
	width: 100px;
	height: 70px;
	background-position: -0px -0px;
}

.flag-ae {
	width: 100px;
	height: 50px;
	background-position: -0px -70px;
}

.flag-af {
	width: 100px;
	height: 67px;
	background-position: -0px -120px;
}

.flag-ag {
	width: 100px;
	height: 67px;
	background-position: -0px -187px;
}

.flag-ai {
	width: 100px;
	height: 50px;
	background-position: -0px -254px;
}

.flag-al {
	width: 100px;
	height: 71px;
	background-position: -0px -304px;
}

.flag-am {
	width: 100px;
	height: 50px;
	background-position: -0px -375px;
}

.flag-ao {
	width: 100px;
	height: 67px;
	background-position: -0px -425px;
}

.flag-aq {
	width: 100px;
	height: 67px;
	background-position: -0px -492px;
}

.flag-ar {
	width: 100px;
	height: 63px;
	background-position: -0px -559px;
}

.flag-as {
	width: 100px;
	height: 50px;
	background-position: -0px -622px;
}

.flag-at {
	width: 100px;
	height: 67px;
	background-position: -0px -672px;
}

.flag-au {
	width: 100px;
	height: 50px;
	background-position: -0px -739px;
}

.flag-aw {
	width: 100px;
	height: 67px;
	background-position: -0px -789px;
}

.flag-ax {
	width: 100px;
	height: 65px;
	background-position: -0px -856px;
}

.flag-az {
	width: 100px;
	height: 50px;
	background-position: -100px -0px;
}

.flag-ba {
	width: 100px;
	height: 50px;
	background-position: -100px -50px;
}

.flag-bb {
	width: 100px;
	height: 67px;
	background-position: -100px -100px;
}

.flag-bd {
	width: 100px;
	height: 60px;
	background-position: -100px -167px;
}

.flag-be {
	width: 100px;
	height: 87px;
	background-position: -100px -227px;
}

.flag-bf {
	width: 100px;
	height: 67px;
	background-position: -100px -314px;
}

.flag-bg {
	width: 100px;
	height: 60px;
	background-position: -100px -381px;
}

.flag-bh {
	width: 100px;
	height: 60px;
	background-position: -100px -441px;
}

.flag-bi {
	width: 100px;
	height: 60px;
	background-position: -100px -501px;
}

.flag-bj {
	width: 100px;
	height: 67px;
	background-position: -100px -561px;
}

.flag-bl {
	width: 100px;
	height: 67px;
	background-position: -100px -628px;
}

.flag-bm {
	width: 100px;
	height: 50px;
	background-position: -100px -695px;
}

.flag-bn {
	width: 100px;
	height: 50px;
	background-position: -100px -745px;
}

.flag-bo {
	width: 100px;
	height: 68px;
	background-position: -100px -795px;
}

.flag-bq {
	width: 100px;
	height: 67px;
	background-position: -100px -863px;
}

.flag-br {
	width: 100px;
	height: 70px;
	background-position: -200px -0px;
}

.flag-bs {
	width: 100px;
	height: 50px;
	background-position: -200px -70px;
}

.flag-bt {
	width: 100px;
	height: 67px;
	background-position: -200px -120px;
}

.flag-bv {
	width: 100px;
	height: 73px;
	background-position: -200px -187px;
}

.flag-bw {
	width: 100px;
	height: 67px;
	background-position: -200px -260px;
}

.flag-by {
	width: 100px;
	height: 50px;
	background-position: -200px -327px;
}

.flag-bz {
	width: 100px;
	height: 60px;
	background-position: -200px -377px;
}

.flag-ca {
	width: 100px;
	height: 50px;
	background-position: -200px -437px;
}

.flag-cc {
	width: 100px;
	height: 50px;
	background-position: -200px -487px;
}

.flag-cd {
	width: 100px;
	height: 75px;
	background-position: -200px -537px;
}

.flag-cf {
	width: 100px;
	height: 67px;
	background-position: -200px -612px;
}

.flag-cg {
	width: 100px;
	height: 67px;
	background-position: -200px -679px;
}

.flag-ch {
	width: 100px;
	height: 100px;
	background-position: -200px -746px;
}

.flag-ci {
	width: 100px;
	height: 67px;
	background-position: -200px -846px;
}

.flag-ck {
	width: 100px;
	height: 50px;
	background-position: -200px -913px;
}

.flag-cl {
	width: 100px;
	height: 67px;
	background-position: -300px -0px;
}

.flag-cm {
	width: 100px;
	height: 67px;
	background-position: -300px -67px;
}

.flag-cn {
	width: 100px;
	height: 67px;
	background-position: -300px -134px;
}

.flag-co {
	width: 100px;
	height: 67px;
	background-position: -300px -201px;
}

.flag-cr {
	width: 100px;
	height: 60px;
	background-position: -300px -268px;
}

.flag-cu {
	width: 100px;
	height: 50px;
	background-position: -300px -328px;
}

.flag-cv {
	width: 100px;
	height: 59px;
	background-position: -300px -378px;
}

.flag-cw {
	width: 100px;
	height: 67px;
	background-position: -300px -437px;
}

.flag-cx {
	width: 100px;
	height: 50px;
	background-position: -300px -504px;
}

.flag-cy {
	width: 100px;
	height: 67px;
	background-position: -300px -554px;
}

.flag-cz {
	width: 100px;
	height: 67px;
	background-position: -300px -621px;
}

.flag-de {
	width: 100px;
	height: 60px;
	background-position: -300px -688px;
}

.flag-dj {
	width: 100px;
	height: 67px;
	background-position: -300px -748px;
}

.flag-dk {
	width: 100px;
	height: 76px;
	background-position: -300px -815px;
}

.flag-dm {
	width: 100px;
	height: 50px;
	background-position: -300px -891px;
}

.flag-do {
	width: 100px;
	height: 67px;
	background-position: -400px -0px;
}

.flag-dz {
	width: 100px;
	height: 67px;
	background-position: -400px -67px;
}

.flag-ec {
	width: 100px;
	height: 67px;
	background-position: -400px -134px;
}

.flag-ee {
	width: 100px;
	height: 64px;
	background-position: -400px -201px;
}

.flag-eg {
	width: 100px;
	height: 67px;
	background-position: -400px -265px;
}

.flag-eh {
	width: 100px;
	height: 50px;
	background-position: -400px -332px;
}

.flag-er {
	width: 100px;
	height: 50px;
	background-position: -400px -382px;
}

.flag-es {
	width: 100px;
	height: 67px;
	background-position: -400px -432px;
}

.flag-et {
	width: 100px;
	height: 50px;
	background-position: -400px -499px;
}

.flag-eu {
	width: 100px;
	height: 67px;
	background-position: -400px -549px;
}

.flag-fi {
	width: 100px;
	height: 61px;
	background-position: -400px -616px;
}

.flag-fj {
	width: 100px;
	height: 50px;
	background-position: -400px -677px;
}

.flag-fk {
	width: 100px;
	height: 50px;
	background-position: -400px -727px;
}

.flag-fm {
	width: 100px;
	height: 53px;
	background-position: -400px -777px;
}

.flag-fo {
	width: 100px;
	height: 73px;
	background-position: -400px -830px;
}

.flag-fr {
	width: 100px;
	height: 67px;
	background-position: -500px -0px;
}

.flag-ga {
	width: 100px;
	height: 75px;
	background-position: -500px -67px;
}

.flag-gb-eng {
	width: 100px;
	height: 60px;
	background-position: -500px -142px;
}

.flag-gb-nir {
	width: 100px;
	height: 50px;
	background-position: -500px -202px;
}

.flag-gb-sct {
	width: 100px;
	height: 60px;
	background-position: -500px -252px;
}

.flag-gb-wls {
	width: 100px;
	height: 60px;
	background-position: -500px -312px;
}

.flag-gb {
	width: 100px;
	height: 50px;
	background-position: -500px -372px;
}

.flag-gd {
	width: 100px;
	height: 60px;
	background-position: -500px -422px;
}

.flag-ge {
	width: 100px;
	height: 67px;
	background-position: -500px -482px;
}

.flag-gf {
	width: 100px;
	height: 67px;
	background-position: -500px -549px;
}

.flag-gg {
	width: 100px;
	height: 67px;
	background-position: -500px -616px;
}

.flag-gh {
	width: 100px;
	height: 67px;
	background-position: -500px -683px;
}

.flag-gi {
	width: 100px;
	height: 50px;
	background-position: -500px -750px;
}

.flag-gl {
	width: 100px;
	height: 67px;
	background-position: -500px -800px;
}

.flag-gm {
	width: 100px;
	height: 67px;
	background-position: -500px -867px;
}

.flag-gn {
	width: 100px;
	height: 67px;
	background-position: -600px -0px;
}

.flag-gp {
	width: 100px;
	height: 67px;
	background-position: -600px -67px;
}

.flag-gq {
	width: 100px;
	height: 67px;
	background-position: -600px -134px;
}

.flag-gr {
	width: 100px;
	height: 67px;
	background-position: -600px -201px;
}

.flag-gs {
	width: 100px;
	height: 50px;
	background-position: -600px -268px;
}

.flag-gt {
	width: 100px;
	height: 63px;
	background-position: -600px -318px;
}

.flag-gu {
	width: 100px;
	height: 54px;
	background-position: -600px -381px;
}

.flag-gw {
	width: 100px;
	height: 50px;
	background-position: -600px -435px;
}

.flag-gy {
	width: 100px;
	height: 60px;
	background-position: -600px -485px;
}

.flag-hk {
	width: 100px;
	height: 67px;
	background-position: -600px -545px;
}

.flag-hm {
	width: 100px;
	height: 50px;
	background-position: -600px -612px;
}

.flag-hn {
	width: 100px;
	height: 50px;
	background-position: -600px -662px;
}

.flag-hr {
	width: 100px;
	height: 50px;
	background-position: -600px -712px;
}

.flag-ht {
	width: 100px;
	height: 60px;
	background-position: -600px -762px;
}

.flag-hu {
	width: 100px;
	height: 50px;
	background-position: -600px -822px;
}

.flag-id {
	width: 100px;
	height: 67px;
	background-position: -700px -0px;
}

.flag-ie {
	width: 100px;
	height: 50px;
	background-position: -700px -67px;
}

.flag-il {
	width: 100px;
	height: 73px;
	background-position: -700px -117px;
}

.flag-im {
	width: 100px;
	height: 50px;
	background-position: -700px -190px;
}

.flag-in {
	width: 100px;
	height: 67px;
	background-position: -700px -240px;
}

.flag-io {
	width: 100px;
	height: 50px;
	background-position: -700px -307px;
}

.flag-iq {
	width: 100px;
	height: 67px;
	background-position: -700px -357px;
}

.flag-ir {
	width: 100px;
	height: 57px;
	background-position: -700px -424px;
}

.flag-is {
	width: 100px;
	height: 72px;
	background-position: -700px -481px;
}

.flag-it {
	width: 100px;
	height: 67px;
	background-position: -700px -553px;
}

.flag-je {
	width: 100px;
	height: 60px;
	background-position: -700px -620px;
}

.flag-jm {
	width: 100px;
	height: 50px;
	background-position: -700px -680px;
}

.flag-jo {
	width: 100px;
	height: 50px;
	background-position: -700px -730px;
}

.flag-jp {
	width: 100px;
	height: 67px;
	background-position: -700px -780px;
}

.flag-ke {
	width: 100px;
	height: 67px;
	background-position: -700px -847px;
}

.flag-kg {
	width: 100px;
	height: 60px;
	background-position: -800px -0px;
}

.flag-kh {
	width: 100px;
	height: 64px;
	background-position: -800px -60px;
}

.flag-ki {
	width: 100px;
	height: 50px;
	background-position: -800px -124px;
}

.flag-km {
	width: 100px;
	height: 60px;
	background-position: -800px -174px;
}

.flag-kn {
	width: 100px;
	height: 67px;
	background-position: -800px -234px;
}

.flag-kp {
	width: 100px;
	height: 50px;
	background-position: -800px -301px;
}

.flag-kr {
	width: 100px;
	height: 67px;
	background-position: -800px -351px;
}

.flag-kw {
	width: 100px;
	height: 50px;
	background-position: -800px -418px;
}

.flag-ky {
	width: 100px;
	height: 50px;
	background-position: -800px -468px;
}

.flag-kz {
	width: 100px;
	height: 50px;
	background-position: -800px -518px;
}

.flag-la {
	width: 100px;
	height: 67px;
	background-position: -800px -568px;
}

.flag-lb {
	width: 100px;
	height: 67px;
	background-position: -800px -635px;
}

.flag-lc {
	width: 100px;
	height: 50px;
	background-position: -800px -702px;
}

.flag-li {
	width: 100px;
	height: 60px;
	background-position: -800px -752px;
}

.flag-lk {
	width: 100px;
	height: 50px;
	background-position: -800px -812px;
}

.flag-lr {
	width: 100px;
	height: 53px;
	background-position: -900px -0px;
}

.flag-ls {
	width: 100px;
	height: 67px;
	background-position: -900px -53px;
}

.flag-lt {
	width: 100px;
	height: 60px;
	background-position: -900px -120px;
}

.flag-lu {
	width: 100px;
	height: 60px;
	background-position: -900px -180px;
}

.flag-lv {
	width: 100px;
	height: 50px;
	background-position: -900px -240px;
}

.flag-ly {
	width: 100px;
	height: 50px;
	background-position: -900px -290px;
}

.flag-ma {
	width: 100px;
	height: 67px;
	background-position: -900px -340px;
}

.flag-mc {
	width: 100px;
	height: 80px;
	background-position: -900px -407px;
}

.flag-md {
	width: 100px;
	height: 50px;
	background-position: -900px -487px;
}

.flag-me {
	width: 100px;
	height: 50px;
	background-position: -900px -537px;
}

.flag-mf {
	width: 100px;
	height: 67px;
	background-position: -900px -587px;
}

.flag-mg {
	width: 100px;
	height: 67px;
	background-position: -900px -654px;
}

.flag-mh {
	width: 100px;
	height: 53px;
	background-position: -900px -721px;
}

.flag-mk {
	width: 100px;
	height: 50px;
	background-position: -900px -774px;
}

.flag-ml {
	width: 100px;
	height: 67px;
	background-position: -900px -824px;
}

.flag-mm {
	width: 100px;
	height: 67px;
	background-position: -1000px -0px;
}

.flag-mn {
	width: 100px;
	height: 50px;
	background-position: -1000px -67px;
}

.flag-mo {
	width: 100px;
	height: 67px;
	background-position: -1000px -117px;
}

.flag-mp {
	width: 100px;
	height: 50px;
	background-position: -1000px -184px;
}

.flag-mq {
	width: 100px;
	height: 67px;
	background-position: -1000px -234px;
}

.flag-mr {
	width: 100px;
	height: 67px;
	background-position: -1000px -301px;
}

.flag-ms {
	width: 100px;
	height: 50px;
	background-position: -1000px -368px;
}

.flag-mt {
	width: 100px;
	height: 67px;
	background-position: -1000px -418px;
}

.flag-mu {
	width: 100px;
	height: 67px;
	background-position: -1000px -485px;
}

.flag-mv {
	width: 100px;
	height: 67px;
	background-position: -1000px -552px;
}

.flag-mw {
	width: 100px;
	height: 67px;
	background-position: -1000px -619px;
}

.flag-mx {
	width: 100px;
	height: 57px;
	background-position: -1000px -686px;
}

.flag-my {
	width: 100px;
	height: 50px;
	background-position: -1000px -743px;
}

.flag-mz {
	width: 100px;
	height: 67px;
	background-position: -1000px -793px;
}

.flag-na {
	width: 100px;
	height: 67px;
	background-position: -1000px -860px;
}

.flag-nc {
	width: 100px;
	height: 67px;
	background-position: -1100px -0px;
}

.flag-ne {
	width: 100px;
	height: 86px;
	background-position: -1100px -67px;
}

.flag-nf {
	width: 100px;
	height: 50px;
	background-position: -1100px -153px;
}

.flag-ng {
	width: 100px;
	height: 50px;
	background-position: -1100px -203px;
}

.flag-ni {
	width: 100px;
	height: 60px;
	background-position: -1100px -253px;
}

.flag-nl {
	width: 100px;
	height: 67px;
	background-position: -1100px -313px;
}

.flag-no {
	width: 100px;
	height: 73px;
	background-position: -1100px -380px;
}

.flag-np {
	width: 100px;
	height: 122px;
	background-position: -1100px -453px;
}

.flag-nr {
	width: 100px;
	height: 50px;
	background-position: -1100px -575px;
}

.flag-nu {
	width: 100px;
	height: 50px;
	background-position: -1100px -625px;
}

.flag-nz {
	width: 100px;
	height: 50px;
	background-position: -1100px -675px;
}

.flag-om {
	width: 100px;
	height: 50px;
	background-position: -1100px -725px;
}

.flag-pa {
	width: 100px;
	height: 67px;
	background-position: -1100px -775px;
}

.flag-pe {
	width: 100px;
	height: 67px;
	background-position: -1100px -842px;
}

.flag-pf {
	width: 100px;
	height: 67px;
	background-position: -1100px -909px;
}

.flag-pg {
	width: 100px;
	height: 75px;
	background-position: -1200px -0px;
}

.flag-ph {
	width: 100px;
	height: 50px;
	background-position: -1200px -75px;
}

.flag-pk {
	width: 100px;
	height: 67px;
	background-position: -1200px -125px;
}

.flag-pl {
	width: 100px;
	height: 63px;
	background-position: -1200px -192px;
}

.flag-pm {
	width: 100px;
	height: 67px;
	background-position: -1200px -255px;
}

.flag-pn {
	width: 100px;
	height: 50px;
	background-position: -1200px -322px;
}

.flag-pr {
	width: 100px;
	height: 67px;
	background-position: -1200px -372px;
}

.flag-ps {
	width: 100px;
	height: 50px;
	background-position: -1200px -439px;
}

.flag-pt {
	width: 100px;
	height: 67px;
	background-position: -1200px -489px;
}

.flag-pw {
	width: 100px;
	height: 63px;
	background-position: -1200px -556px;
}

.flag-py {
	width: 100px;
	height: 55px;
	background-position: -1200px -619px;
}

.flag-qa {
	width: 100px;
	height: 39px;
	background-position: -1200px -674px;
}

.flag-re {
	width: 100px;
	height: 67px;
	background-position: -1200px -713px;
}

.flag-ro {
	width: 100px;
	height: 67px;
	background-position: -1200px -780px;
}

.flag-rs {
	width: 100px;
	height: 67px;
	background-position: -1200px -847px;
}

.flag-ru {
	width: 100px;
	height: 67px;
	background-position: -1300px -0px;
}

.flag-rw {
	width: 100px;
	height: 67px;
	background-position: -1300px -67px;
}

.flag-sa {
	width: 100px;
	height: 67px;
	background-position: -1300px -134px;
}

.flag-sb {
	width: 100px;
	height: 50px;
	background-position: -1300px -201px;
}

.flag-sc {
	width: 100px;
	height: 50px;
	background-position: -1300px -251px;
}

.flag-sd {
	width: 100px;
	height: 50px;
	background-position: -1300px -301px;
}

.flag-se {
	width: 100px;
	height: 63px;
	background-position: -1300px -351px;
}

.flag-sg {
	width: 100px;
	height: 67px;
	background-position: -1300px -414px;
}

.flag-sh {
	width: 100px;
	height: 50px;
	background-position: -1300px -481px;
}

.flag-si {
	width: 100px;
	height: 50px;
	background-position: -1300px -531px;
}

.flag-sj {
	width: 100px;
	height: 73px;
	background-position: -1300px -581px;
}

.flag-sk {
	width: 100px;
	height: 67px;
	background-position: -1300px -654px;
}

.flag-sl {
	width: 100px;
	height: 67px;
	background-position: -1300px -721px;
}

.flag-sm {
	width: 100px;
	height: 75px;
	background-position: -1300px -788px;
}

.flag-sn {
	width: 100px;
	height: 67px;
	background-position: -1300px -863px;
}

.flag-so {
	width: 100px;
	height: 67px;
	background-position: -1400px -0px;
}

.flag-sr {
	width: 100px;
	height: 67px;
	background-position: -1400px -67px;
}

.flag-ss {
	width: 100px;
	height: 50px;
	background-position: -1400px -134px;
}

.flag-st {
	width: 100px;
	height: 50px;
	background-position: -1400px -184px;
}

.flag-sv {
	width: 100px;
	height: 56px;
	background-position: -1400px -234px;
}

.flag-sx {
	width: 100px;
	height: 67px;
	background-position: -1400px -290px;
}

.flag-sy {
	width: 100px;
	height: 67px;
	background-position: -1400px -357px;
}

.flag-sz {
	width: 100px;
	height: 67px;
	background-position: -1400px -424px;
}

.flag-tc {
	width: 100px;
	height: 50px;
	background-position: -1400px -491px;
}

.flag-td {
	width: 100px;
	height: 67px;
	background-position: -1400px -541px;
}

.flag-tf {
	width: 100px;
	height: 67px;
	background-position: -1400px -608px;
}

.flag-tg {
	width: 100px;
	height: 62px;
	background-position: -1400px -675px;
}

.flag-th {
	width: 100px;
	height: 67px;
	background-position: -1400px -737px;
}

.flag-tj {
	width: 100px;
	height: 50px;
	background-position: -1400px -804px;
}

.flag-tk {
	width: 100px;
	height: 50px;
	background-position: -1400px -854px;
}

.flag-tl {
	width: 100px;
	height: 50px;
	background-position: -1500px -0px;
}

.flag-tm {
	width: 100px;
	height: 67px;
	background-position: -1500px -50px;
}

.flag-tn {
	width: 100px;
	height: 67px;
	background-position: -1500px -117px;
}

.flag-to {
	width: 100px;
	height: 50px;
	background-position: -1500px -184px;
}

.flag-tr {
	width: 100px;
	height: 67px;
	background-position: -1500px -234px;
}

.flag-tt {
	width: 100px;
	height: 60px;
	background-position: -1500px -301px;
}

.flag-tv {
	width: 100px;
	height: 50px;
	background-position: -1500px -361px;
}

.flag-tw {
	width: 100px;
	height: 67px;
	background-position: -1500px -411px;
}

.flag-tz {
	width: 100px;
	height: 67px;
	background-position: -1500px -478px;
}

.flag-ua {
	width: 100px;
	height: 67px;
	background-position: -1500px -545px;
}

.flag-ug {
	width: 100px;
	height: 67px;
	background-position: -1500px -612px;
}

.flag-um {
	width: 100px;
	height: 53px;
	background-position: -1500px -679px;
}

.flag-us {
	width: 100px;
	height: 53px;
	background-position: -1500px -732px;
}

.flag-uy {
	width: 100px;
	height: 67px;
	background-position: -1500px -785px;
}

.flag-uz {
	width: 100px;
	height: 50px;
	background-position: -1500px -852px;
}

.flag-va {
	width: 100px;
	height: 100px;
	background-position: -1600px -0px;
}

.flag-vc {
	width: 100px;
	height: 67px;
	background-position: -1600px -100px;
}

.flag-ve {
	width: 100px;
	height: 67px;
	background-position: -1600px -167px;
}

.flag-vg {
	width: 100px;
	height: 50px;
	background-position: -1600px -234px;
}

.flag-vi {
	width: 100px;
	height: 67px;
	background-position: -1600px -284px;
}

.flag-vn {
	width: 100px;
	height: 67px;
	background-position: -1600px -351px;
}

.flag-vu {
	width: 100px;
	height: 60px;
	background-position: -1600px -418px;
}

.flag-wf {
	width: 100px;
	height: 67px;
	background-position: -1600px -478px;
}

.flag-ws {
	width: 100px;
	height: 50px;
	background-position: -1600px -545px;
}

.flag-xk {
	width: 100px;
	height: 71px;
	background-position: -1600px -595px;
}

.flag-ye {
	width: 100px;
	height: 67px;
	background-position: -1600px -666px;
}

.flag-yt {
	width: 100px;
	height: 67px;
	background-position: -1600px -733px;
}

.flag-za {
	width: 100px;
	height: 67px;
	background-position: -1600px -800px;
}

.flag-zm {
	width: 100px;
	height: 67px;
	background-position: -1600px -867px;
}

.flag-zw {
	width: 100px;
	height: 50px;
	background-position: -1600px -934px;
}
