.flags {
	background-image: url('all.png');
	display: block;
}

.flag-ad {
	width: 250px;
	height: 175px;
	background-position: -0px -0px;
}

.flag-ae {
	width: 250px;
	height: 125px;
	background-position: -0px -175px;
}

.flag-af {
	width: 250px;
	height: 167px;
	background-position: -0px -300px;
}

.flag-ag {
	width: 250px;
	height: 167px;
	background-position: -0px -467px;
}

.flag-ai {
	width: 250px;
	height: 125px;
	background-position: -0px -634px;
}

.flag-al {
	width: 250px;
	height: 179px;
	background-position: -0px -759px;
}

.flag-am {
	width: 250px;
	height: 125px;
	background-position: -0px -938px;
}

.flag-ao {
	width: 250px;
	height: 167px;
	background-position: -0px -1063px;
}

.flag-aq {
	width: 250px;
	height: 167px;
	background-position: -0px -1230px;
}

.flag-ar {
	width: 250px;
	height: 156px;
	background-position: -0px -1397px;
}

.flag-as {
	width: 250px;
	height: 125px;
	background-position: -0px -1553px;
}

.flag-at {
	width: 250px;
	height: 167px;
	background-position: -0px -1678px;
}

.flag-au {
	width: 250px;
	height: 125px;
	background-position: -0px -1845px;
}

.flag-aw {
	width: 250px;
	height: 167px;
	background-position: -0px -1970px;
}

.flag-ax {
	width: 250px;
	height: 164px;
	background-position: -0px -2137px;
}

.flag-az {
	width: 250px;
	height: 125px;
	background-position: -250px -0px;
}

.flag-ba {
	width: 250px;
	height: 125px;
	background-position: -250px -125px;
}

.flag-bb {
	width: 250px;
	height: 167px;
	background-position: -250px -250px;
}

.flag-bd {
	width: 250px;
	height: 150px;
	background-position: -250px -417px;
}

.flag-be {
	width: 250px;
	height: 217px;
	background-position: -250px -567px;
}

.flag-bf {
	width: 250px;
	height: 167px;
	background-position: -250px -784px;
}

.flag-bg {
	width: 250px;
	height: 150px;
	background-position: -250px -951px;
}

.flag-bh {
	width: 250px;
	height: 150px;
	background-position: -250px -1101px;
}

.flag-bi {
	width: 250px;
	height: 150px;
	background-position: -250px -1251px;
}

.flag-bj {
	width: 250px;
	height: 167px;
	background-position: -250px -1401px;
}

.flag-bl {
	width: 250px;
	height: 167px;
	background-position: -250px -1568px;
}

.flag-bm {
	width: 250px;
	height: 125px;
	background-position: -250px -1735px;
}

.flag-bn {
	width: 250px;
	height: 125px;
	background-position: -250px -1860px;
}

.flag-bo {
	width: 250px;
	height: 171px;
	background-position: -250px -1985px;
}

.flag-bq {
	width: 250px;
	height: 167px;
	background-position: -250px -2156px;
}

.flag-br {
	width: 250px;
	height: 175px;
	background-position: -500px -0px;
}

.flag-bs {
	width: 250px;
	height: 125px;
	background-position: -500px -175px;
}

.flag-bt {
	width: 250px;
	height: 167px;
	background-position: -500px -300px;
}

.flag-bv {
	width: 250px;
	height: 182px;
	background-position: -500px -467px;
}

.flag-bw {
	width: 250px;
	height: 167px;
	background-position: -500px -649px;
}

.flag-by {
	width: 250px;
	height: 125px;
	background-position: -500px -816px;
}

.flag-bz {
	width: 250px;
	height: 150px;
	background-position: -500px -941px;
}

.flag-ca {
	width: 250px;
	height: 125px;
	background-position: -500px -1091px;
}

.flag-cc {
	width: 250px;
	height: 125px;
	background-position: -500px -1216px;
}

.flag-cd {
	width: 250px;
	height: 188px;
	background-position: -500px -1341px;
}

.flag-cf {
	width: 250px;
	height: 167px;
	background-position: -500px -1529px;
}

.flag-cg {
	width: 250px;
	height: 167px;
	background-position: -500px -1696px;
}

.flag-ch {
	width: 250px;
	height: 250px;
	background-position: -500px -1863px;
}

.flag-ci {
	width: 250px;
	height: 167px;
	background-position: -500px -2113px;
}

.flag-ck {
	width: 250px;
	height: 125px;
	background-position: -500px -2280px;
}

.flag-cl {
	width: 250px;
	height: 167px;
	background-position: -750px -0px;
}

.flag-cm {
	width: 250px;
	height: 167px;
	background-position: -750px -167px;
}

.flag-cn {
	width: 250px;
	height: 167px;
	background-position: -750px -334px;
}

.flag-co {
	width: 250px;
	height: 167px;
	background-position: -750px -501px;
}

.flag-cr {
	width: 250px;
	height: 150px;
	background-position: -750px -668px;
}

.flag-cu {
	width: 250px;
	height: 125px;
	background-position: -750px -818px;
}

.flag-cv {
	width: 250px;
	height: 147px;
	background-position: -750px -943px;
}

.flag-cw {
	width: 250px;
	height: 167px;
	background-position: -750px -1090px;
}

.flag-cx {
	width: 250px;
	height: 125px;
	background-position: -750px -1257px;
}

.flag-cy {
	width: 250px;
	height: 167px;
	background-position: -750px -1382px;
}

.flag-cz {
	width: 250px;
	height: 167px;
	background-position: -750px -1549px;
}

.flag-de {
	width: 250px;
	height: 150px;
	background-position: -750px -1716px;
}

.flag-dj {
	width: 250px;
	height: 167px;
	background-position: -750px -1866px;
}

.flag-dk {
	width: 250px;
	height: 189px;
	background-position: -750px -2033px;
}

.flag-dm {
	width: 250px;
	height: 125px;
	background-position: -750px -2222px;
}

.flag-do {
	width: 250px;
	height: 167px;
	background-position: -1000px -0px;
}

.flag-dz {
	width: 250px;
	height: 167px;
	background-position: -1000px -167px;
}

.flag-ec {
	width: 250px;
	height: 167px;
	background-position: -1000px -334px;
}

.flag-ee {
	width: 250px;
	height: 159px;
	background-position: -1000px -501px;
}

.flag-eg {
	width: 250px;
	height: 167px;
	background-position: -1000px -660px;
}

.flag-eh {
	width: 250px;
	height: 125px;
	background-position: -1000px -827px;
}

.flag-er {
	width: 250px;
	height: 125px;
	background-position: -1000px -952px;
}

.flag-es {
	width: 250px;
	height: 167px;
	background-position: -1000px -1077px;
}

.flag-et {
	width: 250px;
	height: 125px;
	background-position: -1000px -1244px;
}

.flag-eu {
	width: 250px;
	height: 167px;
	background-position: -1000px -1369px;
}

.flag-fi {
	width: 250px;
	height: 153px;
	background-position: -1000px -1536px;
}

.flag-fj {
	width: 250px;
	height: 125px;
	background-position: -1000px -1689px;
}

.flag-fk {
	width: 250px;
	height: 125px;
	background-position: -1000px -1814px;
}

.flag-fm {
	width: 250px;
	height: 132px;
	background-position: -1000px -1939px;
}

.flag-fo {
	width: 250px;
	height: 182px;
	background-position: -1000px -2071px;
}

.flag-fr {
	width: 250px;
	height: 167px;
	background-position: -1250px -0px;
}

.flag-ga {
	width: 250px;
	height: 188px;
	background-position: -1250px -167px;
}

.flag-gb-eng {
	width: 250px;
	height: 150px;
	background-position: -1250px -355px;
}

.flag-gb-nir {
	width: 250px;
	height: 125px;
	background-position: -1250px -505px;
}

.flag-gb-sct {
	width: 250px;
	height: 150px;
	background-position: -1250px -630px;
}

.flag-gb-wls {
	width: 250px;
	height: 150px;
	background-position: -1250px -780px;
}

.flag-gb {
	width: 250px;
	height: 125px;
	background-position: -1250px -930px;
}

.flag-gd {
	width: 250px;
	height: 150px;
	background-position: -1250px -1055px;
}

.flag-ge {
	width: 250px;
	height: 167px;
	background-position: -1250px -1205px;
}

.flag-gf {
	width: 250px;
	height: 167px;
	background-position: -1250px -1372px;
}

.flag-gg {
	width: 250px;
	height: 167px;
	background-position: -1250px -1539px;
}

.flag-gh {
	width: 250px;
	height: 167px;
	background-position: -1250px -1706px;
}

.flag-gi {
	width: 250px;
	height: 125px;
	background-position: -1250px -1873px;
}

.flag-gl {
	width: 250px;
	height: 167px;
	background-position: -1250px -1998px;
}

.flag-gm {
	width: 250px;
	height: 167px;
	background-position: -1250px -2165px;
}

.flag-gn {
	width: 250px;
	height: 167px;
	background-position: -1500px -0px;
}

.flag-gp {
	width: 250px;
	height: 167px;
	background-position: -1500px -167px;
}

.flag-gq {
	width: 250px;
	height: 167px;
	background-position: -1500px -334px;
}

.flag-gr {
	width: 250px;
	height: 167px;
	background-position: -1500px -501px;
}

.flag-gs {
	width: 250px;
	height: 125px;
	background-position: -1500px -668px;
}

.flag-gt {
	width: 250px;
	height: 156px;
	background-position: -1500px -793px;
}

.flag-gu {
	width: 250px;
	height: 134px;
	background-position: -1500px -949px;
}

.flag-gw {
	width: 250px;
	height: 125px;
	background-position: -1500px -1083px;
}

.flag-gy {
	width: 250px;
	height: 150px;
	background-position: -1500px -1208px;
}

.flag-hk {
	width: 250px;
	height: 167px;
	background-position: -1500px -1358px;
}

.flag-hm {
	width: 250px;
	height: 125px;
	background-position: -1500px -1525px;
}

.flag-hn {
	width: 250px;
	height: 125px;
	background-position: -1500px -1650px;
}

.flag-hr {
	width: 250px;
	height: 125px;
	background-position: -1500px -1775px;
}

.flag-ht {
	width: 250px;
	height: 150px;
	background-position: -1500px -1900px;
}

.flag-hu {
	width: 250px;
	height: 125px;
	background-position: -1500px -2050px;
}

.flag-id {
	width: 250px;
	height: 167px;
	background-position: -1750px -0px;
}

.flag-ie {
	width: 250px;
	height: 125px;
	background-position: -1750px -167px;
}

.flag-il {
	width: 250px;
	height: 182px;
	background-position: -1750px -292px;
}

.flag-im {
	width: 250px;
	height: 125px;
	background-position: -1750px -474px;
}

.flag-in {
	width: 250px;
	height: 167px;
	background-position: -1750px -599px;
}

.flag-io {
	width: 250px;
	height: 125px;
	background-position: -1750px -766px;
}

.flag-iq {
	width: 250px;
	height: 167px;
	background-position: -1750px -891px;
}

.flag-ir {
	width: 250px;
	height: 143px;
	background-position: -1750px -1058px;
}

.flag-is {
	width: 250px;
	height: 180px;
	background-position: -1750px -1201px;
}

.flag-it {
	width: 250px;
	height: 167px;
	background-position: -1750px -1381px;
}

.flag-je {
	width: 250px;
	height: 150px;
	background-position: -1750px -1548px;
}

.flag-jm {
	width: 250px;
	height: 125px;
	background-position: -1750px -1698px;
}

.flag-jo {
	width: 250px;
	height: 125px;
	background-position: -1750px -1823px;
}

.flag-jp {
	width: 250px;
	height: 167px;
	background-position: -1750px -1948px;
}

.flag-ke {
	width: 250px;
	height: 167px;
	background-position: -1750px -2115px;
}

.flag-kg {
	width: 250px;
	height: 150px;
	background-position: -2000px -0px;
}

.flag-kh {
	width: 250px;
	height: 160px;
	background-position: -2000px -150px;
}

.flag-ki {
	width: 250px;
	height: 125px;
	background-position: -2000px -310px;
}

.flag-km {
	width: 250px;
	height: 150px;
	background-position: -2000px -435px;
}

.flag-kn {
	width: 250px;
	height: 167px;
	background-position: -2000px -585px;
}

.flag-kp {
	width: 250px;
	height: 125px;
	background-position: -2000px -752px;
}

.flag-kr {
	width: 250px;
	height: 167px;
	background-position: -2000px -877px;
}

.flag-kw {
	width: 250px;
	height: 125px;
	background-position: -2000px -1044px;
}

.flag-ky {
	width: 250px;
	height: 125px;
	background-position: -2000px -1169px;
}

.flag-kz {
	width: 250px;
	height: 125px;
	background-position: -2000px -1294px;
}

.flag-la {
	width: 250px;
	height: 167px;
	background-position: -2000px -1419px;
}

.flag-lb {
	width: 250px;
	height: 167px;
	background-position: -2000px -1586px;
}

.flag-lc {
	width: 250px;
	height: 125px;
	background-position: -2000px -1753px;
}

.flag-li {
	width: 250px;
	height: 150px;
	background-position: -2000px -1878px;
}

.flag-lk {
	width: 250px;
	height: 125px;
	background-position: -2000px -2028px;
}

.flag-lr {
	width: 250px;
	height: 132px;
	background-position: -2250px -0px;
}

.flag-ls {
	width: 250px;
	height: 167px;
	background-position: -2250px -132px;
}

.flag-lt {
	width: 250px;
	height: 150px;
	background-position: -2250px -299px;
}

.flag-lu {
	width: 250px;
	height: 150px;
	background-position: -2250px -449px;
}

.flag-lv {
	width: 250px;
	height: 125px;
	background-position: -2250px -599px;
}

.flag-ly {
	width: 250px;
	height: 125px;
	background-position: -2250px -724px;
}

.flag-ma {
	width: 250px;
	height: 167px;
	background-position: -2250px -849px;
}

.flag-mc {
	width: 250px;
	height: 200px;
	background-position: -2250px -1016px;
}

.flag-md {
	width: 250px;
	height: 125px;
	background-position: -2250px -1216px;
}

.flag-me {
	width: 250px;
	height: 125px;
	background-position: -2250px -1341px;
}

.flag-mf {
	width: 250px;
	height: 167px;
	background-position: -2250px -1466px;
}

.flag-mg {
	width: 250px;
	height: 167px;
	background-position: -2250px -1633px;
}

.flag-mh {
	width: 250px;
	height: 132px;
	background-position: -2250px -1800px;
}

.flag-mk {
	width: 250px;
	height: 125px;
	background-position: -2250px -1932px;
}

.flag-ml {
	width: 250px;
	height: 167px;
	background-position: -2250px -2057px;
}

.flag-mm {
	width: 250px;
	height: 167px;
	background-position: -2500px -0px;
}

.flag-mn {
	width: 250px;
	height: 125px;
	background-position: -2500px -167px;
}

.flag-mo {
	width: 250px;
	height: 167px;
	background-position: -2500px -292px;
}

.flag-mp {
	width: 250px;
	height: 125px;
	background-position: -2500px -459px;
}

.flag-mq {
	width: 250px;
	height: 167px;
	background-position: -2500px -584px;
}

.flag-mr {
	width: 250px;
	height: 167px;
	background-position: -2500px -751px;
}

.flag-ms {
	width: 250px;
	height: 125px;
	background-position: -2500px -918px;
}

.flag-mt {
	width: 250px;
	height: 167px;
	background-position: -2500px -1043px;
}

.flag-mu {
	width: 250px;
	height: 167px;
	background-position: -2500px -1210px;
}

.flag-mv {
	width: 250px;
	height: 167px;
	background-position: -2500px -1377px;
}

.flag-mw {
	width: 250px;
	height: 167px;
	background-position: -2500px -1544px;
}

.flag-mx {
	width: 250px;
	height: 143px;
	background-position: -2500px -1711px;
}

.flag-my {
	width: 250px;
	height: 125px;
	background-position: -2500px -1854px;
}

.flag-mz {
	width: 250px;
	height: 167px;
	background-position: -2500px -1979px;
}

.flag-na {
	width: 250px;
	height: 167px;
	background-position: -2500px -2146px;
}

.flag-nc {
	width: 250px;
	height: 167px;
	background-position: -2750px -0px;
}

.flag-ne {
	width: 250px;
	height: 214px;
	background-position: -2750px -167px;
}

.flag-nf {
	width: 250px;
	height: 125px;
	background-position: -2750px -381px;
}

.flag-ng {
	width: 250px;
	height: 125px;
	background-position: -2750px -506px;
}

.flag-ni {
	width: 250px;
	height: 150px;
	background-position: -2750px -631px;
}

.flag-nl {
	width: 250px;
	height: 167px;
	background-position: -2750px -781px;
}

.flag-no {
	width: 250px;
	height: 182px;
	background-position: -2750px -948px;
}

.flag-np {
	width: 250px;
	height: 305px;
	background-position: -2750px -1130px;
}

.flag-nr {
	width: 250px;
	height: 125px;
	background-position: -2750px -1435px;
}

.flag-nu {
	width: 250px;
	height: 125px;
	background-position: -2750px -1560px;
}

.flag-nz {
	width: 250px;
	height: 125px;
	background-position: -2750px -1685px;
}

.flag-om {
	width: 250px;
	height: 125px;
	background-position: -2750px -1810px;
}

.flag-pa {
	width: 250px;
	height: 167px;
	background-position: -2750px -1935px;
}

.flag-pe {
	width: 250px;
	height: 167px;
	background-position: -2750px -2102px;
}

.flag-pf {
	width: 250px;
	height: 167px;
	background-position: -2750px -2269px;
}

.flag-pg {
	width: 250px;
	height: 188px;
	background-position: -3000px -0px;
}

.flag-ph {
	width: 250px;
	height: 125px;
	background-position: -3000px -188px;
}

.flag-pk {
	width: 250px;
	height: 167px;
	background-position: -3000px -313px;
}

.flag-pl {
	width: 250px;
	height: 156px;
	background-position: -3000px -480px;
}

.flag-pm {
	width: 250px;
	height: 167px;
	background-position: -3000px -636px;
}

.flag-pn {
	width: 250px;
	height: 125px;
	background-position: -3000px -803px;
}

.flag-pr {
	width: 250px;
	height: 167px;
	background-position: -3000px -928px;
}

.flag-ps {
	width: 250px;
	height: 125px;
	background-position: -3000px -1095px;
}

.flag-pt {
	width: 250px;
	height: 167px;
	background-position: -3000px -1220px;
}

.flag-pw {
	width: 250px;
	height: 156px;
	background-position: -3000px -1387px;
}

.flag-py {
	width: 250px;
	height: 138px;
	background-position: -3000px -1543px;
}

.flag-qa {
	width: 250px;
	height: 98px;
	background-position: -3000px -1681px;
}

.flag-re {
	width: 250px;
	height: 167px;
	background-position: -3000px -1779px;
}

.flag-ro {
	width: 250px;
	height: 167px;
	background-position: -3000px -1946px;
}

.flag-rs {
	width: 250px;
	height: 167px;
	background-position: -3000px -2113px;
}

.flag-ru {
	width: 250px;
	height: 167px;
	background-position: -3250px -0px;
}

.flag-rw {
	width: 250px;
	height: 167px;
	background-position: -3250px -167px;
}

.flag-sa {
	width: 250px;
	height: 167px;
	background-position: -3250px -334px;
}

.flag-sb {
	width: 250px;
	height: 125px;
	background-position: -3250px -501px;
}

.flag-sc {
	width: 250px;
	height: 125px;
	background-position: -3250px -626px;
}

.flag-sd {
	width: 250px;
	height: 125px;
	background-position: -3250px -751px;
}

.flag-se {
	width: 250px;
	height: 156px;
	background-position: -3250px -876px;
}

.flag-sg {
	width: 250px;
	height: 167px;
	background-position: -3250px -1032px;
}

.flag-sh {
	width: 250px;
	height: 125px;
	background-position: -3250px -1199px;
}

.flag-si {
	width: 250px;
	height: 125px;
	background-position: -3250px -1324px;
}

.flag-sj {
	width: 250px;
	height: 182px;
	background-position: -3250px -1449px;
}

.flag-sk {
	width: 250px;
	height: 167px;
	background-position: -3250px -1631px;
}

.flag-sl {
	width: 250px;
	height: 167px;
	background-position: -3250px -1798px;
}

.flag-sm {
	width: 250px;
	height: 188px;
	background-position: -3250px -1965px;
}

.flag-sn {
	width: 250px;
	height: 167px;
	background-position: -3250px -2153px;
}

.flag-so {
	width: 250px;
	height: 167px;
	background-position: -3500px -0px;
}

.flag-sr {
	width: 250px;
	height: 167px;
	background-position: -3500px -167px;
}

.flag-ss {
	width: 250px;
	height: 125px;
	background-position: -3500px -334px;
}

.flag-st {
	width: 250px;
	height: 125px;
	background-position: -3500px -459px;
}

.flag-sv {
	width: 250px;
	height: 141px;
	background-position: -3500px -584px;
}

.flag-sx {
	width: 250px;
	height: 167px;
	background-position: -3500px -725px;
}

.flag-sy {
	width: 250px;
	height: 167px;
	background-position: -3500px -892px;
}

.flag-sz {
	width: 250px;
	height: 167px;
	background-position: -3500px -1059px;
}

.flag-tc {
	width: 250px;
	height: 125px;
	background-position: -3500px -1226px;
}

.flag-td {
	width: 250px;
	height: 167px;
	background-position: -3500px -1351px;
}

.flag-tf {
	width: 250px;
	height: 167px;
	background-position: -3500px -1518px;
}

.flag-tg {
	width: 250px;
	height: 155px;
	background-position: -3500px -1685px;
}

.flag-th {
	width: 250px;
	height: 167px;
	background-position: -3500px -1840px;
}

.flag-tj {
	width: 250px;
	height: 125px;
	background-position: -3500px -2007px;
}

.flag-tk {
	width: 250px;
	height: 125px;
	background-position: -3500px -2132px;
}

.flag-tl {
	width: 250px;
	height: 125px;
	background-position: -3750px -0px;
}

.flag-tm {
	width: 250px;
	height: 167px;
	background-position: -3750px -125px;
}

.flag-tn {
	width: 250px;
	height: 167px;
	background-position: -3750px -292px;
}

.flag-to {
	width: 250px;
	height: 125px;
	background-position: -3750px -459px;
}

.flag-tr {
	width: 250px;
	height: 167px;
	background-position: -3750px -584px;
}

.flag-tt {
	width: 250px;
	height: 150px;
	background-position: -3750px -751px;
}

.flag-tv {
	width: 250px;
	height: 125px;
	background-position: -3750px -901px;
}

.flag-tw {
	width: 250px;
	height: 167px;
	background-position: -3750px -1026px;
}

.flag-tz {
	width: 250px;
	height: 167px;
	background-position: -3750px -1193px;
}

.flag-ua {
	width: 250px;
	height: 167px;
	background-position: -3750px -1360px;
}

.flag-ug {
	width: 250px;
	height: 167px;
	background-position: -3750px -1527px;
}

.flag-um {
	width: 250px;
	height: 132px;
	background-position: -3750px -1694px;
}

.flag-us {
	width: 250px;
	height: 132px;
	background-position: -3750px -1826px;
}

.flag-uy {
	width: 250px;
	height: 167px;
	background-position: -3750px -1958px;
}

.flag-uz {
	width: 250px;
	height: 125px;
	background-position: -3750px -2125px;
}

.flag-va {
	width: 250px;
	height: 250px;
	background-position: -4000px -0px;
}

.flag-vc {
	width: 250px;
	height: 167px;
	background-position: -4000px -250px;
}

.flag-ve {
	width: 250px;
	height: 167px;
	background-position: -4000px -417px;
}

.flag-vg {
	width: 250px;
	height: 125px;
	background-position: -4000px -584px;
}

.flag-vi {
	width: 250px;
	height: 167px;
	background-position: -4000px -709px;
}

.flag-vn {
	width: 250px;
	height: 167px;
	background-position: -4000px -876px;
}

.flag-vu {
	width: 250px;
	height: 150px;
	background-position: -4000px -1043px;
}

.flag-wf {
	width: 250px;
	height: 167px;
	background-position: -4000px -1193px;
}

.flag-ws {
	width: 250px;
	height: 125px;
	background-position: -4000px -1360px;
}

.flag-xk {
	width: 250px;
	height: 179px;
	background-position: -4000px -1485px;
}

.flag-ye {
	width: 250px;
	height: 167px;
	background-position: -4000px -1664px;
}

.flag-yt {
	width: 250px;
	height: 167px;
	background-position: -4000px -1831px;
}

.flag-za {
	width: 250px;
	height: 167px;
	background-position: -4000px -1998px;
}

.flag-zm {
	width: 250px;
	height: 167px;
	background-position: -4000px -2165px;
}

.flag-zw {
	width: 250px;
	height: 125px;
	background-position: -4000px -2332px;
}
